@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=DM+Serif+Display:ital@0;1&display=swap');
body{
    
     background-color: rgb(255, 243, 223);
     background-size: cover;
    margin: 0px;
    padding: 0;
     
}

.page2{
    width: auto;
    height: 400px;
    background-color: aliceblue;
    border: 20px solid rgb(250, 122, 190);
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.box{
width: 33.33%;
height: 400px;
background-color: white;
border: 1px solid black;
display: flex;
justify-content: space-evenly;

}
.box img{
    width: 250px;
    height: 400px;
}

.text1{
    font-size: smaller;
    margin-left: 35px;
}

.mypic2 img{
    width: 150px;
    height: 150px;
    margin-top: -2px;
    margin-left: 50px;
}

.school {
    font-size: smaller;
    margin-left: 35px;
}